<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style type="text/css">
    .main{
      text-align: center;
      margin: 100px auto;
    }
    h2{
      margin-bottom: 40px;
      color: dodgerblue;
    }
    .text{
      font-size: medium;
      color: #7d7d7d;
    }
  </style>
  <title>JwBoot欢迎页</title>
</head>
<body>
  <div class="main">
    <h2>欢迎使用JwBoot</h2>
    <p class="text">这是您的第一个测试应用</p>
    <h1>😀</h1>
  </div>
</body>
</html>