<?xml version="1.0" encoding="UTF-8"?>
<configuration status="ON">
  <appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %highlight{%-5level} %logger{36} - %msg%n"/>
    </Console>
  </appenders>
  
  <loggers>
    <logger name="org.reflections.Reflections" level="ERROR" additivity="false">
      <appender-ref ref="Console"/>
    </logger>
    
    <root level="DEBUG">
      <appender-ref ref="Console"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </loggers>
</configuration>
